 .c-center {
  height: 100vh;
}

.homepage-bg{
  background-image: url('https://mdbootstrap.com/img/Photos/Others/img%20%2848%29.webp'); 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center center;
}